spring:
  profiles: 
    active: prod

---
thrift:
  port: 8899
  minWorkerThreads: 20
  maxWorkerThreads: 4000
isRealySendSms: false
logging:
  level:
    cn:
      xvkang: debug
spring:
  netty:
    worker:
      thread:
        size: 1000
    boss:
      thread:
        size: 10
    host:
      port: 9999
  h2:
    console:
      enabled: true 
  session:
    store-type: redis
    redis:
      namespace: chepai
  redis: 
    database: 0      # Redis数据库索引（默认为0）
    host: localhost  # Redis服务器地址
    port: 6379       # Redis服务器连接端口
    password:        # Redis服务器连接密码（默认为空）
    timeout: 0       # 连接超时时间（毫秒）
    pool:
      max-active: 8  # 连接池最大连接数（使用负值表示没有限制）
      max-idle: 8    # 连接池中的最大空闲连接
      max-wait: -1   # 连接池最大阻塞等待时间（使用负值表示没有限制）
      min-idle: 0    # 连接池中的最小空闲连接
  profiles: dev
  main:
    banner-mode: "off"
  mvc:
    view:
      prefix: /WEB-INF/jsp/
      suffix: .jsp
  datasource:
    url: jdbc:jtds:sqlserver://192.168.56.101:1433/chepai_prod
    driverClassName: net.sourceforge.jtds.jdbc.Driver
    username: sa
    password: wujiatong
    dbcp2:
      validation-query: SELECT 1
      test-while-idle: true
      test-on-borrow: true
slave:      
  datasource:
      url: jdbc:mysql://localhost:3306/fuxing_school?useUnicode=true&characterEncoding=utf8&allowMultiQueries=true
      driverClassName: com.mysql.jdbc.Driver
      username: root
      password: wujiatong
      dbcp2:
        validation-query: SELECT 1
        test-while-idle: true
        test-on-borrow: true      
#mybatis:
#    config-location: classpath:mybatis/mybatis-config.xml
#    mapper-locations: 
#      - classpath:mybatis/mapper/*.xml
#      - classpath:mybatis/mapperdynamic/*.xml
#    configuration:
#       map-underscore-to-camel-case: true
#      default-fetch-size: 50
#        default-statement-timeout: 10
#        auto-mapping-unknown-column-behavior: WARNING
#       auto-mapping-unknown-column-behavior: FAILING

security:
  basic:
    enabled: false
      
server: 
  port: 18080
  session:
    timeout: 7200
# 目前yml配置文件内置
ymlPath: /tmp/config.yml






---
thrift:
  port: 8899
  minWorkerThreads: 20
  maxWorkerThreads: 4000
isRealySendSms: true
logging:
  level:
    cn:
      xvkang: debug
spring:
  netty:
    worker:
      thread:
        size: 1000
    boss:
      thread:
        size: 10
    host:
      port: 9999
  session:
    store-type: redis
    redis:
      namespace: chepai
  redis: 
    database: 0      # Redis数据库索引（默认为0）
    host: localhost  # Redis服务器地址
    port: 6379       # Redis服务器连接端口
    password:        # Redis服务器连接密码（默认为空）
    timeout: 0       # 连接超时时间（毫秒）
    pool:
      max-active: 8  # 连接池最大连接数（使用负值表示没有限制）
      max-idle: 8    # 连接池中的最大空闲连接
      max-wait: -1   # 连接池最大阻塞等待时间（使用负值表示没有限制）
      min-idle: 0    # 连接池中的最小空闲连接
  profiles: prod
  main:
    banner-mode: "off"
  mvc:
    view:
      prefix: /WEB-INF/jsp/
      suffix: .jsp
  datasource:
    url: jdbc:jtds:sqlserver://172.10.5.48:1433/znykt_Auto
    driverClassName: net.sourceforge.jtds.jdbc.Driver
    username: sa
    password: 12345
    dbcp2:
      validation-query: SELECT 1
      test-while-idle: true
      test-on-borrow: true
slave:      
  datasource:
      url: jdbc:mysql://localhost:3306/fuxing_school?useUnicode=true&characterEncoding=utf8&allowMultiQueries=true
      driverClassName: com.mysql.jdbc.Driver
      username: root
      password: wujiatong
      dbcp2:
        validation-query: SELECT 1
        test-while-idle: true
        test-on-borrow: true
#mybatis:
#    config-location: classpath:mybatis/mybatis-config.xml
#    mapper-locations: 
#      - classpath:mybatis/mapper/*.xml
#      - classpath:mybatis/mapperdynamic/*.xml
#    configuration:
#       map-underscore-to-camel-case: true
#      default-fetch-size: 50
#        default-statement-timeout: 10
#        auto-mapping-unknown-column-behavior: WARNING
#       auto-mapping-unknown-column-behavior: FAILING

security:
  basic:
    enabled: false
      
server: 
  port: 18080
  session:
    timeout: 7200
# 目前yml配置文件内置
ymlPath: /tmp/config.yml



