<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
		<link rel="stylesheet" type="text/css" href="js/layui/css/layui.css"/>
		<link rel="stylesheet" type="text/css" href="css/signSystem.css" />
		<title>报名系统</title>
	</head>
	<body>
		<div class="sign-page" id="J_signPage">
			<p class="title">预约必填信息</p>
			<form class="layui-form">
				<div class="sign-con">
					<div class="layui-form-item">
						<label class="label tleft">片区内是否固定住房</label>
						<div class="layui-input-block tright">
						  	<input type="radio" name="fixedHouse" value="是" title="是" >
						  	<input type="radio" name="fixedHouse" value="否" title="否" >
						</div>
					</div>

					<div class="layui-form-item">
						<label class="label tleft">学生姓名</label>
						<div class="layui-input-block">
						  	<input type="text" name="name" autocomplete="off" placeholder="请输入学生姓名" class="layui-input" maxlength="10">
						  	<span class="required">*</span>
						</div>
					</div>

					<div class="layui-form-item">
						<label class="label tleft">出生年月</label>
						<div class="layui-input-block">
						  	<input type="text" class="layui-input" id="test1" name="birthday" placeholder="年月日">
						  	<span class="required">*</span>
						</div>
					</div>

					<div class="layui-form-item">
						<label class="label tleft">性别</label>
						<div class="layui-input-block tright">
						  	<input type="radio" name="gender" value="男" title="男">
						  	<input type="radio" name="gender" value="女" title="女">
						</div>
					</div>
					<div class="layui-form-item" style="margin-bottom: 0;">
						<label class="label tleft">身份证号</label>
						<div class="layui-input-block">
						  	<input type="text" name="idcard" autocomplete="off" placeholder="请输入身份证" class="layui-input">
						  	<span class="required">*</span>
						</div>
					</div>

					<div class="layui-form-item" style="min-height: 50px;">
						<label class="label tleft">户籍</label>
						<div class="layui-input-block tright" style="margin-left:20px;">
						  	<input type="radio" name="census" value="非农业户籍" title="非农业">
						  	<input type="radio" name="census" value="农业户籍或外县域户籍" title="农业或外县域">
						</div>
						<div style="position:absolute;right:0;bottom:0; width:100%;color:#f00;font-style: normal;font-size:12px;text-align:right;">(*户籍请慎重选择,提交后不可修改)</div>
					</div>

					<div class="layui-form-item">
						<label class="label tleft">户口所在地</label>
						<div class="layui-input-block">
						  	<input type="text" name="accountLocation" autocomplete="off" placeholder="请输入户口所在地" class="layui-input">
						  	<span class="required">*</span>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="label tleft">父亲姓名</label>
						<div class="layui-input-block">
						  	<input type="text" name="father" autocomplete="off" placeholder="请输入父亲姓名" class="layui-input">
						  	<span class="required">*</span>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="label tleft">工作单位</label>
						<div class="layui-input-block">
						  	<input type="text" name="fatherWorkunit" autocomplete="off" placeholder="请输入父亲工作单位" class="layui-input">
						  	<span class="required">*</span>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="label tleft">母亲姓名</label>
						<div class="layui-input-block">
						  	<input type="text" name="mother" autocomplete="off" placeholder="请输入母亲姓名" class="layui-input">
						  	<span class="required">*</span>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="label tleft">工作单位</label>
						<div class="layui-input-block">
						  	<input type="text" name="motherWorkunit" autocomplete="off" placeholder="请输入母亲工作单位" class="layui-input">
						  	<span class="required">*</span>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="label tleft">手机号</label>
						<div class="layui-input-block">
						  	<input type="text" name="phone" autocomplete="off" placeholder="请输入手机号" class="layui-input">
						  	<span class="required">*</span>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="label tleft">手机验证码</label>
						<div class="layui-input-block" style="margin-right:80px;">
						  	<input type="text" name="sms" autocomplete="off" placeholder="请输入验证码" class="layui-input">
						</div>
						<label class="code-btn" id="J_getCodeBtn">获取验证码</label>
					</div>
					<div class="layui-form-item" style="margin-bottom: 0;">
						<label class="label tleft">固定住址</label>
						<div class="layui-input-block">
						  	<input type="text" name="address" autocomplete="off" placeholder="请输入固定住址" class="layui-input">
						  	<span class="required">*</span>
						</div>
					</div>
					
				</div>
				<p class="title">上传资料</p>
				<div class="sign-con">
					<div class="layui-form-item" style="border:none;margin-bottom: 0px;">
						<label class="label tleft">孩子户口本页:</label>
					</div>
					<div class="layui-form-item" style="margin:0;">
						<div class="layui-input-block" id="container" style="margin:0px 5px 15px;">
							<div id="pickfiles" class="layui-upload-drag" style="width:100%;box-sizing: border-box;">
								<i class="layui-icon">&#xe67c;</i>
								<p>户口本页(1-3张图片)</p>
								<p style="color:#f00;">点击上传</p>
								<!-- <p class="required-title">必传</p> -->
							</div>
							<span class="required" style="right: -8px;">*</span>
						</div>
						<div id="censusTable" class="images-list" style="display:none;">
							<table cellspacing="0" cellpadding="0">
								<thead>
	                              <tr>
	                                <th style="width:60%; text-align: center;">图片</th>
	                                <th style="width:40%;text-align: center;">状态</th>
	                              </tr>
	                            </thead>
	                            <tbody id="fsUploadProgress">
	                            	
	                            </tbody>
							</table>
						</div>
					</div>

					<div class="layui-form-item" style="border:none;margin-bottom: 0px;">
						<label class="label tleft">孩子出生证明:</label>
					</div>
				
					<div class="layui-form-item" style="margin:0;">
						<div class="layui-input-block" id="container1" style="margin:0px 5px 15px;">
							<div id="birthImages" class="layui-upload-drag" style="width:100%;box-sizing: border-box;">
								<i class="layui-icon">&#xe67c;</i>
								<p>孩子出生证明(1-3张图片)</p>
								<p style="color:#f00;">点击上传</p>
							</div>
							<span class="required" style="right: -8px;">*</span>
						</div>

						<div id="birthTable" class="images-list" style="display:none;">
							<table cellspacing="0" cellpadding="0">
								<thead>
	                              <tr>
	                                <th style="width:60%; text-align: center;">图片</th>
	                                <th style="width:40%;text-align: center;">状态</th>
	                              </tr>
	                            </thead>
	                            <tbody id="birthProgress">
	                            	
	                            </tbody>
							</table>
						</div>
					</div>
					<div class="layui-form-item" style="border:none;margin-bottom: 0px;">
						<label class="label tleft">片区内购买固定房产:</label>
					</div>
				
					<div class="layui-form-item" style="margin:0;">
						<div class="layui-input-block" id="container2" style="margin:0px 5px 15px;">
							<div id="houseImages" class="layui-upload-drag" style="width:100%;box-sizing: border-box;">
								<i class="layui-icon">&#xe67c;</i>
								<p>片区内购买固定房产(1-3张图片)</p>
								<p style="color:#f00;">点击上传</p>
								<!-- <p class="required-title">必传</p> -->
							</div>
							<span class="required" style="right: -8px;">*</span>
						</div>
						<div id="houseTable" class="images-list" style="display:none;">
							<table cellspacing="0" cellpadding="0">
								<thead>
	                              <tr>
	                                <th style="width:60%; text-align: center;">图片</th>
	                                <th style="width:40%;text-align: center;">状态</th>
	                              </tr>
	                            </thead>
	                            <tbody id="houseProgress">
	                            	
	                            </tbody>
							</table>
						</div>
					</div>
				</div>
				  
				<div class="layui-form-item tcenter" style="background: #f7f7f7;padding:15px 0; margin:0;">
					<div class="layui-input-block" style="margin-left: 0;">
					  <a class="layui-btn" id="J_addBtn" style="width:80%;">立即提交</a>
					</div>
				</div>
			</form>
		</div>
		<script type="text/html" id="J_formInnerTpl">
			{{if list && !isEnd}}
				<div class="sign-con">
					<div class="layui-form-item">
						<label class="label tleft">报名预约号</label>
						<div class="layui-input-block">
						  	<input type="text" autocomplete="off" placeholder="请输入预约号" class="layui-input" value="{{list.regCode}}" style="color:#999;" disabled="">
						  	<span class="required">*</span>
						</div>
					</div>

					<div class="layui-form-item">
						<label class="label tleft">片区内是否固定住房</label>
						<div class="layui-input-block tright">
							{{if list.fixedHouse == '是'}}
						  		<input type="radio" name="fixedHouse" value="是" title="是"  checked="" disabled="">
						  	{{else}}
						  		<input type="radio" name="fixedHouse" value="是" title="是" disabled="">
						  	{{/if}}

						  	{{if list.fixedHouse == '否'}}
						  	<input type="radio" name="fixedHouse" value="否" title="否" checked="" disabled="">
						  	{{else}}
						  	<input type="radio" name="fixedHouse" value="否" title="否" disabled="">
						  	{{/if}}
						</div>
					</div>

					<div class="layui-form-item">
						<label class="label tleft">学生姓名</label>
						<div class="layui-input-block">
						  	<input type="text" name="name" autocomplete="off" placeholder="请输入学生姓名" class="layui-input" value="{{list.name}}" maxlength="10">
						  	<span class="required">*</span>
						</div>
					</div>

					<div class="layui-form-item">
						<label class="label tleft">出生年月</label>
						<div class="layui-input-block">
						  	<input type="text" class="layui-input" id="test1" name="birthday" placeholder="年月日" value="{{list.birthday}}">
						  	<span class="required">*</span>
						</div>
					</div>

					<div class="layui-form-item">
						<label class="label tleft">性别</label>
						<div class="layui-input-block tright">
							{{if list.gender == '男'}}
						  	<input type="radio" name="gender" value="男" title="男" checked="">
						  	{{else}}
						  	<input type="radio" name="gender" value="男" title="男">
						  	{{/if}}
						  	{{if list.gender == '女'}}
						  	<input type="radio" name="gender" value="女" title="女" checked="">
						  	{{else}}
						  	<input type="radio" name="gender" value="女" title="女">
						  	{{/if}}
						</div>
					</div>
					<div class="layui-form-item" style="margin-bottom: 0;">
						<label class="label tleft">身份证号</label>
						<div class="layui-input-block">
						  	<input type="text" name="idcard" autocomplete="off" placeholder="请输入身份证" class="layui-input" value="{{list.idcard}}">
						  	<span class="required">*</span>
						</div>
					</div>

					<div class="layui-form-item" style="min-height: 50px;">
						<label class="label tleft">户籍</label>
						<div class="layui-input-block tright" style="margin-left:20px;">
							{{if list.census == '非农业户籍'}}
						  		<input type="radio" name="census" value="非农业户籍" title="非农业" checked="" disabled="">
						  	{{else}}
						  		<input type="radio" name="census" value="非农业户籍" title="非农业" disabled="">
						  	{{/if}}

						  	{{if list.census == '农业户籍或外县域户籍'}}
						  	<input type="radio" name="census" value="农业户籍或外县域户籍" title="农业或外县域" checked="" disabled="">
						  	{{else}}
						  	<input type="radio" name="census" value="农业户籍或外县域户籍" title="农业或外县域" disabled="">
						  	{{/if}}
						</div>
						<div style="position:absolute;right:0;bottom:0; width:100%;color:#f00;font-style: normal;font-size:12px;text-align:right;">(*户籍请慎重选择,提交后不可修改)</div>
					</div>

					<div class="layui-form-item">
						<label class="label tleft">户口所在地</label>
						<div class="layui-input-block">
						  	<input type="text" name="accountLocation" autocomplete="off" placeholder="请输入户口所在地" class="layui-input" value="{{list.accountLocation}}">
						  	<span class="required">*</span>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="label tleft">父亲姓名</label>
						<div class="layui-input-block">
						  	<input type="text" name="father" autocomplete="off" placeholder="请输入父亲姓名" class="layui-input" value="{{list.father}}">
						  	<span class="required">*</span>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="label tleft">工作单位</label>
						<div class="layui-input-block">
						  	<input type="text" name="fatherWorkunit" autocomplete="off" placeholder="请输入父亲工作单位" class="layui-input" value="{{list.fatherWorkunit}}">
						  	<span class="required">*</span>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="label tleft">母亲姓名</label>
						<div class="layui-input-block">
						  	<input type="text" name="mother" autocomplete="off" placeholder="请输入母亲姓名" class="layui-input" value="{{list.mother}}">
						  	<span class="required">*</span>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="label tleft">工作单位</label>
						<div class="layui-input-block">
						  	<input type="text" name="motherWorkunit" autocomplete="off" placeholder="请输入母亲工作单位" class="layui-input" value="{{list.motherWorkunit}}">
						  	<span class="required">*</span>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="label tleft">手机号</label>
						<div class="layui-input-block">
						  	<input type="text" name="phone" autocomplete="off" placeholder="请输入手机号" style="color:#999;" class="layui-input" disabled="" value="{{list.phone}}">
						  	<span class="required">*</span>
						</div>
					</div>
					<div class="layui-form-item" style="display:none;">
						<label class="label tleft">手机验证码</label>
						<div class="layui-input-block" style="margin-right:80px;">
						  	<input type="text" name="sms" autocomplete="off" placeholder="请输入验证码" class="layui-input">
						</div>
						<label class="code-btn" id="J_getCodeBtn">获取验证码</label>
					</div>
					<div class="layui-form-item" style="margin-bottom: 0;">
						<label class="label tleft">固定住址</label>
						<div class="layui-input-block">
						  	<input type="text" name="address" autocomplete="off" placeholder="请输入固定住址" class="layui-input" value="{{list.address}}">
						  	<span class="required">*</span>
						</div>
					</div>
					
				</div>
				<p class="title">上传资料</p>
				<div class="sign-con">
					<div class="layui-form-item" style="border:none;margin-bottom: 0px;">
						<label class="label tleft">孩子户口本页:</label>
					</div>
					<div class="layui-form-item" style="margin:0;">
						<div class="layui-input-block" id="container" style="margin:0px 5px 15px;">
							<div id="pickfiles" class="layui-upload-drag" style="width:100%;box-sizing: border-box;">
								<i class="layui-icon">&#xe67c;</i>
								<p>户口本页</p>
								<p style="color:#f00;">点击上传</p>
								<!-- <p class="required-title">必传</p> -->
							</div>
							<span class="required" style="right: -8px;">*</span>
						</div>
						{{if list.censusImageFiles}}
						<div id="censusTable" class="images-list">
							<table cellspacing="0" cellpadding="0" style="width:100%;">
								<thead>
	                              <tr>
	                                <th style="width:60%; text-align: center;">图片</th>
	                                <th style="width:40%;text-align: center;">状态</th>
	                              </tr>
	                            </thead>
	                            <tbody id="fsUploadProgress">
	                            	{{each list.censusImageFiles as val k}}
	                            	<tr style="border-top:1px solid #ddd;">
										<td style="text-align:center">
											<img src="{{val}}" style="max-width: 100%;max-height:100px;" />
										</td>
										<td style="text-align: center;">
											<labe style="color:#f00;" class="del">删除</labe>
										</td>
									</tr>
									{{/each}}
	                            </tbody>
							</table>
						</div>
						{{else}}
						<div id="censusTable" class="images-list" style="display:none;">
							<table cellspacing="0" cellpadding="0" style="width:100%;">
								<thead>
	                              <tr>
	                                <th style="width:60%; text-align: center;">图片</th>
	                                <th style="width:40%;text-align: center;">状态</th>
	                              </tr>
	                            </thead>
	                            <tbody id="fsUploadProgress">
	                            </tbody>
	                        </table>
	                    </div>
						{{/if}}
					</div>

					<div class="layui-form-item" style="border:none;margin-bottom: 0px;">
						<label class="label tleft">孩子出生证明:</label>
					</div>
				
					<div class="layui-form-item" style="margin:0;">
						<div class="layui-input-block" id="container1" style="margin:0px 5px 15px;">
							<div id="birthImages" class="layui-upload-drag" style="width:100%;box-sizing: border-box;">
								<i class="layui-icon">&#xe67c;</i>
								<p>孩子出生证明</p>
								<p style="color:#f00;">点击上传</p>
							</div>
							<span class="required" style="right: -8px;">*</span>
						</div>
						{{if list.birthCertificateImageFiles}}
						<div id="birthTable" class="images-list">
							<table cellspacing="0" cellpadding="0" style="width:100%;">
								<thead>
	                              <tr>
	                                <th style="width:60%; text-align: center;">图片</th>
	                                <th style="width:40%;text-align: center;">状态</th>
	                              </tr>
	                            </thead>
	                            <tbody id="birthProgress">
	                            	{{each list.birthCertificateImageFiles as val k}}
	                            	<tr style="border-top:1px solid #ddd;">
										<td style="text-align:center">
											<img src="{{val}}" style="max-width: 100%;max-height:100px;" />
										</td>
										<td style="text-align: center;">
											<labe style="color:#f00;" class="del">删除</labe>
										</td>
									</tr>
									{{/each}}
	                            </tbody>
							</table>
						</div>
						{{else}}
						<div id="birthTable" class="images-list" style="display:none;">
							<table cellspacing="0" cellpadding="0">
								<thead>
	                              <tr>
	                                <th style="width:60%; text-align: center;">图片</th>
	                                <th style="width:40%;text-align: center;">状态</th>
	                              </tr>
	                            </thead>
	                            <tbody id="birthProgress">
	                            	
	                            </tbody>
							</table>
						</div>
						{{/if}}
					</div>
					<div class="layui-form-item" style="border:none;margin-bottom: 0px;">
						<label class="label tleft">片区内购买固定房产:</label>
					</div>
				
					<div class="layui-form-item" style="margin:0;">
						<div class="layui-input-block" id="container2" style="margin:0px 5px 15px;">
							<div id="houseImages" class="layui-upload-drag" style="width:100%;box-sizing: border-box;">
								<i class="layui-icon">&#xe67c;</i>
								<p>片区内购买固定房产</p>
								<p style="color:#f00;">点击上传</p>
								<!-- <p class="required-title">必传</p> -->
							</div>
							<span class="required" style="right: -8px;">*</span>
						</div>
						{{if list.houseCeritificateImageFiles}}
						<div id="houseTable" class="images-list">
							<table cellspacing="0" cellpadding="0" style="width:100%;">
								<thead>
	                              <tr>
	                                <th style="width:60%; text-align: center;">图片</th>
	                                <th style="width:40%;text-align: center;">状态</th>
	                              </tr>
	                            </thead>
	                            <tbody id="houseProgress">
	                            	{{each list.houseCeritificateImageFiles as val k}}
	                            	<tr style="border-top:1px solid #ddd;">
										<td style="text-align:center">
											<img src="{{val}}" style="max-width: 100%;max-height:100px;" />
										</td>
										<td style="text-align: center;">
											<labe style="color:#f00;" class="del">删除</labe>
										</td>
									</tr>
	                            	{{/each}}
	                            </tbody>
							</table>
						</div>
						{{else}}
						<div id="houseTable" class="images-list" style="display:none;">
							<table cellspacing="0" cellpadding="0">
								<thead>
	                              <tr>
	                                <th style="width:60%; text-align: center;">图片</th>
	                                <th style="width:40%;text-align: center;">状态</th>
	                              </tr>
	                            </thead>
	                            <tbody id="houseProgress">
	                            	
	                            </tbody>
							</table>
						</div>
						{{/if}}
					</div>
				</div>
				<div class="layui-form-item tcenter" style="background: #f7f7f7;padding:15px 0; margin:0;">
					<div class="layui-input-block" style="margin-left: 0;">
					  <a class="layui-btn" id="J_addBtn" style="width:80%;">立即提交</a>
					</div>
				</div>
			{{/if}}

			{{if list && isEnd}}
				<div class="sign-con">
					<div class="layui-form-item">
						<label class="label tleft">报名预约号</label>
						<div class="layui-input-block">
						  	<input type="text" autocomplete="off" placeholder="请输入预约号" class="layui-input" style="color:#999;" value="{{list.regCode}}" style="color:#999;" disabled="">
						  	<span class="required">*</span>
						</div>
					</div>

					<div class="layui-form-item">
						<label class="label tleft">片区内是否固定住房</label>
						<div class="layui-input-block tright">
							{{if list.fixedHouse == '是'}}
						  		<input type="radio" name="fixedHouse" value="是" title="是"  checked="" disabled="">
						  	{{else}}
						  		<input type="radio" name="fixedHouse" value="是" title="是" disabled="">
						  	{{/if}}

						  	{{if list.fixedHouse == '否'}}
						  	<input type="radio" name="fixedHouse" value="否" title="否" checked="" disabled="">
						  	{{else}}
						  	<input type="radio" name="fixedHouse" value="否" title="否" disabled="">
						  	{{/if}}
						</div>
					</div>

					<div class="layui-form-item">
						<label class="label tleft">学生姓名</label>
						<div class="layui-input-block">
						  	<input type="text" name="name" autocomplete="off" placeholder="请输入学生姓名" class="layui-input" style="color:#999;" value="{{list.name}}" maxlength="10" disabled="">
						  	<span class="required">*</span>
						</div>
					</div>

					<div class="layui-form-item">
						<label class="label tleft">出生年月</label>
						<div class="layui-input-block">
						  	<input type="text" class="layui-input" id="test1" name="birthday" placeholder="年月日" style="color:#999;" value="{{list.birthday}}" disabled="">
						  	<span class="required">*</span>
						</div>
					</div>

					<div class="layui-form-item">
						<label class="label tleft">性别</label>
						<div class="layui-input-block tright">
							{{if list.gender == '男'}}
						  	<input type="radio" name="gender" value="男" title="男" checked="" disabled="">
						  	{{else}}
						  	<input type="radio" name="gender" value="男" title="男" disabled="">
						  	{{/if}}
						  	{{if list.gender == '女'}}
						  	<input type="radio" name="gender" value="女" title="女" checked="" disabled="">
						  	{{else}}
						  	<input type="radio" name="gender" value="女" title="女" disabled="">
						  	{{/if}}
						</div>
					</div>
					<div class="layui-form-item" style="margin-bottom: 0;">
						<label class="label tleft">身份证号</label>
						<div class="layui-input-block">
						  	<input type="text" name="idcard" autocomplete="off" placeholder="请输入身份证" style="color:#999;" class="layui-input" value="{{list.idcard}}" disabled="">
						  	<span class="required">*</span>
						</div>
					</div>

					<div class="layui-form-item" style="min-height: 50px;">
						<label class="label tleft">户籍</label>
						<div class="layui-input-block tright" style="margin-left:20px;">
							{{if list.census == '非农业户籍'}}
						  		<input type="radio" name="census" value="非农业户籍" title="非农业" checked="" disabled="">
						  	{{else}}
						  		<input type="radio" name="census" value="非农业户籍" title="非农业" disabled="">
						  	{{/if}}

						  	{{if list.census == '农业户籍或外县域户籍'}}
						  	<input type="radio" name="census" value="农业户籍或外县域户籍" title="农业或外县域" checked="" disabled="">
						  	{{else}}
						  	<input type="radio" name="census" value="农业户籍或外县域户籍" title="农业或外县域" disabled="">
						  	{{/if}}
						</div>
						<div style="position:absolute;right:0;bottom:0; width:100%;color:#f00;font-style: normal;font-size:12px;text-align:right;">(*户籍请慎重选择,提交后不可修改)</div>
					</div>

					<div class="layui-form-item">
						<label class="label tleft">户口所在地</label>
						<div class="layui-input-block">
						  	<input type="text" name="accountLocation" autocomplete="off" placeholder="请输入户口所在地" style="color:#999;" class="layui-input" value="{{list.accountLocation}}" disabled="">
						  	<span class="required">*</span>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="label tleft">父亲姓名</label>
						<div class="layui-input-block">
						  	<input type="text" name="father" autocomplete="off" placeholder="请输入父亲姓名" style="color:#999;" class="layui-input" value="{{list.father}}" disabled="">
						  	<span class="required">*</span>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="label tleft">工作单位</label>
						<div class="layui-input-block">
						  	<input type="text" name="fatherWorkunit" autocomplete="off" placeholder="请输入父亲工作单位" style="color:#999;" class="layui-input" value="{{list.fatherWorkunit}}" disabled="">
						  	<span class="required">*</span>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="label tleft">母亲姓名</label>
						<div class="layui-input-block">
						  	<input type="text" name="mother" autocomplete="off" placeholder="请输入母亲姓名" style="color:#999;" class="layui-input" value="{{list.mother}}" disabled="">
						  	<span class="required">*</span>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="label tleft">工作单位</label>
						<div class="layui-input-block">
						  	<input type="text" name="motherWorkunit" autocomplete="off" placeholder="请输入母亲工作单位" style="color:#999;" class="layui-input" value="{{list.motherWorkunit}}" disabled="">
						  	<span class="required">*</span>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="label tleft">手机号</label>
						<div class="layui-input-block">
						  	<input type="text" name="phone" autocomplete="off" placeholder="请输入手机号" style="color:#999;" class="layui-input" disabled="" value="{{list.phone}}">
						  	<span class="required">*</span>
						</div>
					</div>
					<div class="layui-form-item" style="display:none;">
						<label class="label tleft">手机验证码</label>
						<div class="layui-input-block" style="margin-right:80px;">
						  	<input type="text" name="sms" autocomplete="off" placeholder="请输入验证码" class="layui-input">
						</div>
						<label class="code-btn" id="J_getCodeBtn">获取验证码</label>
					</div>
					<div class="layui-form-item" style="margin-bottom: 0;">
						<label class="label tleft">固定住址</label>
						<div class="layui-input-block">
						  	<input type="text" name="address" autocomplete="off" placeholder="请输入固定住址" style="color:#999;" class="layui-input" value="{{list.address}}" disabled="">
						  	<span class="required">*</span>
						</div>
					</div>
					
				</div>
				<p class="title">上传资料</p>
				<div class="sign-con">
					<div class="layui-form-item" style="border:none;margin-bottom: 0px;">
						<label class="label tleft">孩子户口本页:</label>
					</div>
					<div class="layui-form-item" style="margin:0;">
						<div class="layui-input-block" id="container" style="margin:0px 5px 15px;">
							<div id="pickfiles" class="layui-upload-drag" style="width:100%;box-sizing: border-box;">
								<i class="layui-icon">&#xe67c;</i>
								<p>户口本页</p>
								<p style="color:#f00;">点击上传</p>
								<!-- <p class="required-title">必传</p> -->
							</div>
							<span class="required" style="right: -8px;">*</span>
						</div>
						{{if list.censusImageFiles}}
						<div id="censusTable" class="images-list">
							<table cellspacing="0" cellpadding="0" style="width:100%;">
								<thead>
	                              <tr>
	                                <th style="width:60%; text-align: center;">图片</th>
	                                <th style="width:40%;text-align: center;">状态</th>
	                              </tr>
	                            </thead>
	                            <tbody id="fsUploadProgress">
	                            	{{each list.censusImageFiles as val k}}
	                            	<tr style="border-top:1px solid #ddd;">
										<td style="text-align:center">
											<img src="{{val}}" style="max-width: 100%;max-height:100px;" />
										</td>
										<td style="text-align: center;">
											
										</td>
									</tr>
									{{/each}}
	                            </tbody>
							</table>
						</div>
						{{else}}
						<div id="censusTable" class="images-list" style="display:none;">
							<table cellspacing="0" cellpadding="0" style="width:100%;">
								<thead>
	                              <tr>
	                                <th style="width:60%; text-align: center;">图片</th>
	                                <th style="width:40%;text-align: center;">状态</th>
	                              </tr>
	                            </thead>
	                            <tbody id="fsUploadProgress">
	                            </tbody>
	                        </table>
	                    </div>
						{{/if}}
					</div>

					<div class="layui-form-item" style="border:none;margin-bottom: 0px;">
						<label class="label tleft">孩子出生证明:</label>
					</div>
				
					<div class="layui-form-item" style="margin:0;">
						<div class="layui-input-block" id="container1" style="margin:0px 5px 15px;">
							<div id="birthImages" class="layui-upload-drag" style="width:100%;box-sizing: border-box;">
								<i class="layui-icon">&#xe67c;</i>
								<p>孩子出生证明</p>
								<p style="color:#f00;">点击上传</p>
							</div>
							<span class="required" style="right: -8px;">*</span>
						</div>
						{{if list.birthCertificateImageFiles}}
						<div id="birthTable" class="images-list">
							<table cellspacing="0" cellpadding="0" style="width:100%;">
								<thead>
	                              <tr>
	                                <th style="width:60%; text-align: center;">图片</th>
	                                <th style="width:40%;text-align: center;">状态</th>
	                              </tr>
	                            </thead>
	                            <tbody id="birthProgress">
	                            	{{each list.birthCertificateImageFiles as val k}}
	                            	<tr style="border-top:1px solid #ddd;">
										<td style="text-align:center">
											<img src="{{val}}" style="max-width: 100%;max-height:100px;" />
										</td>
										<td style="text-align: center;">
										</td>
									</tr>
									{{/each}}
	                            </tbody>
							</table>
						</div>
						{{else}}
						<div id="birthTable" class="images-list" style="display:none;">
							<table cellspacing="0" cellpadding="0">
								<thead>
	                              <tr>
	                                <th style="width:60%; text-align: center;">图片</th>
	                                <th style="width:40%;text-align: center;">状态</th>
	                              </tr>
	                            </thead>
	                            <tbody id="birthProgress">
	                            	
	                            </tbody>
							</table>
						</div>
						{{/if}}
					</div>
					<div class="layui-form-item" style="border:none;margin-bottom: 0px;">
						<label class="label tleft">片区内购买固定房产:</label>
					</div>
				
					<div class="layui-form-item" style="margin:0;">
						<div class="layui-input-block" id="container2" style="margin:0px 5px 15px;">
							<div id="houseImages" class="layui-upload-drag" style="width:100%;box-sizing: border-box;">
								<i class="layui-icon">&#xe67c;</i>
								<p>片区内购买固定房产</p>
								<p style="color:#f00;">点击上传</p>
								<!-- <p class="required-title">必传</p> -->
							</div>
							<span class="required" style="right: -8px;">*</span>
						</div>
						{{if list.houseCeritificateImageFiles}}
						<div id="houseTable" class="images-list">
							<table cellspacing="0" cellpadding="0" style="width:100%;">
								<thead>
	                              <tr>
	                                <th style="width:60%; text-align: center;">图片</th>
	                                <th style="width:40%;text-align: center;">状态</th>
	                              </tr>
	                            </thead>
	                            <tbody id="houseProgress">
	                            	{{each list.houseCeritificateImageFiles as val k}}
	                            	<tr style="border-top:1px solid #ddd;">
										<td style="text-align:center">
											<img src="{{val}}" style="max-width: 100%;max-height:100px;" />
										</td>
										<td style="text-align: center;">
										</td>
									</tr>
	                            	{{/each}}
	                            </tbody>
							</table>
						</div>
						{{else}}
						<div id="houseTable" class="images-list" style="display:none;">
							<table cellspacing="0" cellpadding="0">
								<thead>
	                              <tr>
	                                <th style="width:60%; text-align: center;">图片</th>
	                                <th style="width:40%;text-align: center;">状态</th>
	                              </tr>
	                            </thead>
	                            <tbody id="houseProgress">
	                            	
	                            </tbody>
							</table>
						</div>
						{{/if}}
					</div>
				</div>
				
			{{/if}}
		</script>
	</body>
	<script src="js/upload/jquery.min.js"></script>
	<!-- <script src="js/rem.js"></script> -->
	<script src="js/layui/layui.all.js"></script>
	<script src="js/template.min.js"></script>
	<!-- <script type="text/javascript" src="js/upload/moxie.js"></script>
	<script type="text/javascript" src="js/upload/plupload.dev.js"></script>
	<script type="text/javascript" src="js/upload/zh_cn.js"></script>
	<script type="text/javascript" src="js/upload/teaui.js"></script>-->
	<script type="text/javascript" src="js/upload/qiniu.min.js"></script>
	<!-- <script type="text/javascript" src="js/upload/highlight.js"></script>  -->
	<script type="text/javascript" src="js/signSystem.js"></script>
	<script type="text/javascript">
		signSystem.info.edit.api.init();
		//hljs.initHighlightingOnLoad();
		layui.use('laydate', function(){
		  var laydate = layui.laydate;
		  
		  //常规用法
		  laydate.render({
		    elem: '#test1',
		    format: 'yyyyMMdd'
		  });
		});
	</script>
</html>
